/*estilo de cuerpo*/
body{
    background-image: url('/assets/img/fondo_batman.jpg');
    background-size: cover;
    background-position: center;
    font-family: "Faculty Glyphic", sans-serif;
}

  
/*imagen de batman*/
.imgBatman{
    text-align: center;
    background-color: #E6E6E6;
}
/*estilos de h1*/
h1{
    text-align: center;
    color: #005677;
    background-color: #C4C4C4;
}
/* los h2*/
.datosP{
    color: #005677;
    background-color:  #E6E6E6;
    margin-top: 150px;
}
.formacionA{
    color: #005677;
    background-color: #E6E6E6  ;
}
.experienciaL{
    color: #005677;
    background-color:  #E6E6E6;
}
/*estilos de listas*/
ul{
    list-style-type: none;
    color:  yellow;
}
/*espacio de las segundas listas para dar ese formato de escalera*/
.espacio{
    margin-left: 76px;
}
/*espacio entre imagenes*/
#imgI{
    margin-left: 40px;
    margin-right: 20px;
}
/*estilo de footer*/
footer{
    color: aliceblue;
    background-color: #005677;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}