body{
    background-image: url('/assets/img/fondo_batman.jpg');
    background-size: cover;
    background-position: center;
    font-family: "Sour Gummy", sans-serif;
}

  

.imgBatman{
    text-align: center;
    background-color: rgba(20, 15, 15, 0.466);
}
h1{
    text-align: center;
    color: rgba(236, 236, 229, 0.822);
    background-color:  rgba(20, 15, 15, 0.466);
}
.datosP{
    color: rgba(236, 236, 229, 0.822);
    background-color:  rgba(20, 15, 15, 0.466);
    margin-top: 150px;
}
.formacionA{
    color: rgba(236, 236, 229, 0.822);
    background-color: rgba(20, 15, 15, 0.466)  ;
}
.experienciaL{
    color: rgba(236, 236, 229, 0.822);
    background-color:  rgba(20, 15, 15, 0.466);
}
ul{
    color: #005677;
}
pre{
    color: #005677;
}